.bg-text {
  color: transparent;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: color-mix(
    in oklab,
    var(--foreground) 20%,
    transparent
  );
  font-weight: 900;
  white-space: nowrap;
}
